[VERSION]
major =1
minor =0

[GENERAL]
atc_type ="AIRBUS"
atc_model ="A35K"
Category = "airplane"
performance ="Engines\\RR Trent XWB-97 rated at 97,000 lbs\n\nTypical Cruise Speed\n0.85 Mach at 40,000 ft\n\nMax Speed\nVmo 340 kts    Mmo 0.89 Mach\n\nRange(440 pax)\n8700 nm (16,100 km)\n\nMax Fuel\n348600 lbs (42,000 US gal)\n\nMax Takeoff Weight\n696,661 lbs\n\nMax Gross Weight (taxi weight)\n699,000 lbs\n\nMax Payload\n287,294 lbs"
editable = 1
wip_indicator = 2
icao_type_designator ="A35K"
icao_manufacturer ="AIRBUS"
icao_model ="A350-1000"
icao_engine_type ="Jet"
icao_engine_count =2
icao_WTC ="H"
icao_generic=0

[PILOT]
pilot ="Pilot_Female_Uniform"
copilot ="Pilot_Male_Uniform"
instructor ="Pilot_Male_Casual"
pilot_default_animation ="Idle1_PoseAirliner","","","","","","","","","","","","","","",""
copilot_default_animation ="Idle2_PoseAirliner","","","","","","","","","","","","","","",""
pilot_attach_node ="PILOT_0"
copilot_attach_node ="PILOT_1"

[SERVICES]
FUELTRUCK =1
BAGGAGE_LOADER =1
CATERING_TRUCK =1
BOARDING_RAMP =1
GROUND_POWER_UNIT =1
PUSHBACK =1
SMALL_PUSHBACK =0
MARSHALLER =1
JETWAY =1

[EFFECTS]
wake =fx_wake, 0
water =fx_spray, 0
dirt =FX_ASOBO_TOUCHDIRT_BIG, 0
concrete =FX_ASOBO_TOUCHCONCRETE_BIG, 0
touchdown =FX_ASOBO_TouchDown_Big, 1
waterspeed=fx_spray, 0
contrail=fx_contrail_l, 0
startup=fx_engstrt, 1
landrotorwash=fx_rtr_lnd, 0
waterrotorwash=fx_rtr_wtr, 0
vaportrail_l=fx_vaportrail_l, 0
vaportrail_r=fx_vaportrail_r, 0
l_wingtipvortice=fx_wingtipvortice_l, 1
r_wingtipvortice=fx_wingtipvortice_r, 1
fueldump=, 0
EngineFire=fx_engfire, 0
EngineDamage=fx_engsmoke, 0
EngineOilLeak=fx_OilLeak, 0
SkidPavement=fx_skidmark, 0
SnowSkiTrack=, 0
WheelSnowSpray=fx_WheelSnowSpray, 0
WheelWetSpray=fx_WheelWetSpray, 0
WetEngineWash=fx_WetEngineWash, 0
SnowEngineWash=fx_SnowEngineWash, 0
WaterBallastDrain=fx_WaterBallastDrain, 0
PistonFailure=fx_PistonFailure, 1
windshield_rain_effect_available=1

[TIMELINE.FLIGHT_RUNWAY]
Flaps = 33

[LOADING]
ImageName = LOADING_FREEFLIGHT
Tips0 = "The A350-1000 is over 240 feet long. That is almost as long as a football field!"
Tips1 = "The A350-1000 is equipped with RR Trent XWB-97 engines that produce 97000 LBS of thrust!"
Tips2 = "The project of a completely new plane started all the way back in 2004. Airbus had initially planned on creating an A330-200Lite. However they settled on a brand new plane that is now the A350."
Tips4 = "The Airbus A350-1000 weighs close to 308 tons. That is the same amount of weight of 241 Cessna Skyhawks!"

[STALL PROTECTION]
stall_protection = 1
off_limit = 9
off_yoke_limit = 1
on_limit = 12
on_goal = 10
timer_trigger = 1.0

;===================== FLTSIM =====================

[IKCHAINS]
right_hand_target=""
left_hand_target=""
left_foot_target=""
right_foot_target=""
[FLTSIM.0]
Title="Airbus A35K DFD"
Model=""
Panel=""
Sound=""
Texture=""
KB_Checklists="AirbusA350-1000_check"
KB_Reference=""
description=""
wip_indicator=0
ui_manufacturer="Airbus"
ui_type="A350-1000"
ui_variation="Default"
ui_typerole="Commercial Airliner"
ui_createdby="Digital Flight Dynamics"
ui_thumbnailfile=""
ui_certified_ceiling=41450
ui_max_range=8700
ui_autonomy=20
ui_fuel_burn_rate=12800
atc_id="ASX350"
icao_airline=""
atc_id_enable=0
atc_airline=""
atc_flight_number="1123"
atc_heavy=1
atc_id_color="0x00000000"
atc_id_font=""
isAirTraffic=0
isUserSelectable=1
atc_parking_types="GATE,RAMP,CARGO"
atc_parking_codes=""
